# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Hardhat
node_modules/
cache/
typechain-types/
dist/

# Debug info
*.dbg.json
*.tsbuildinfo

# Environment
.env
.env.local
